<!doctype html>
<head>
  <title>Chaos Citadel - Character Sheet</title>
  <link rel="stylesheet" type="text/css" href="../assets/styles.css">
</head>
<body>
  <div id="sheet_bg">
    <div id="char_stats">
      <div class="info">
        <p>Name: Avestruz</p>
      </div>
      <div class="info">
        <p>Energy: 100/100</p>
      </div>
      <div class="info">
        <p>Skill: 100/100</p>
      </div>
      <div class="info">
        <p>Luck: 100/100</p>
      </div>
      <div class="info">
        <p>Gold: 100</p>
      </div>
    </div>

    <div id="char_equip">
      <div class="info">
        <h2>Equipment:</h2>
        <ul>
          <li>Armor:</li>
          <li>Weapon:</li>
          <li>Offhand:</li>
        </ul>
      </div>
      <div class="info">
        <h2>Backpack:</h2>
        <ul>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
          <li>ABCD</li>
        </ul>
      </div>
      <div class="info">
        <h2>Scrolls:</h2>
        <ul>
          <li>Restore Energy: 2</li>
          <li>Restore Skill: 2</li>
          <li>Restore Luck: 1</li>
          <li>Mirror Image: 1</li>
          <li>Perception: 1</li>
          <li>Fire: 1</li>
          <li>Fool's Gold: 1</li>
          <li>Illusion: 1</li>
          <li>Levitate: 1</li>
          <li>Shield: 1</li>
          <li>Strength: 1</li>
          <li>Weakness: 1</li>
        </ul>
      </div>
    </div>
  </div>
</body>
